<div id="navbar"
     data-change-password-link="{{ path('user_change_password') }}"
     data-logout-link="{{ path('app_logout') }}"
     data-profile-link="{{ path('user_profile') }}"
     data-role="{{ userRole() }}"
     data-username="{{ username() }}"
     data-userimage="{{ userImage() }}"
>
</div>
