<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ asset('/' ~ app_webpack_folder ~ '/images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="48x48" href="{{ asset('/' ~ app_webpack_folder ~ '/images/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/' ~ app_webpack_folder ~ '/images/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/' ~ app_webpack_folder ~ '/images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('/' ~ app_webpack_folder ~ '/images/android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="384x384" href="{{ asset('/' ~ app_webpack_folder ~ '/images/android-chrome-384x384.png') }}">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
    {% if app.user %}
    <script>
        function isUser() {
            {% if app.user.isAdmin() %}
            return false;
            {% else %}
            return true;
            {% endif %}
        }
    </script>
    {% endif %}
    {{ encore_entry_script_tags('navbar') }}
    {{ encore_entry_script_tags('sidebar_component') }}
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed sidebar-collapse overflow-hidden">
<!-- Main Sidebar Container -->
{% include "partials/sidebar.html.twig" %}
<div class="wrapper {{ app.request.cookies.get('sidebar_is_collapse') == 'true' ? 'w-100' : '' }}">

    <!-- Navbar -->
    {% include "partials/navbar.html.twig" %}
    <!-- /.navbar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {% if app.session.flashbag.peekAll|length > 0 %}
            <div class="content pt-3">
            {% for type, messages in app.session.flashbag.all %}
                {% for message in messages %}
                    <div class="alert alert-{{ type ? type : '' }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            </div>
        {% endif %}

        <!-- Main content -->
        <section class="content">
        {% block body %}{% endblock %}
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {# {% include "partials/footer.html.twig" %} #}

    <!-- Control Sidebar -->
{#    <aside class="control-sidebar control-sidebar-dark">#}
        <!-- Control sidebar content goes here -->
{#    </aside>#}
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
</body>
</html>
